.pageHeader {text-align: center;

}
.list {display: flex; flex-wrap: wrap;
justify-content: space-around;
}



.shop {border: 3px solid rgb(78, 32, 232);
    width: 300px;
    margin: 5px;
    background-color: rgb(137, 170, 158);
    

}